#NavImg {
    margin-left: 30%;
    margin-top: 8px;
    height: 30px;
}

#NavName {
    font-size: x-large;
    color: white;
    margin-top: 6px;
    text-align: center;
}

span {
    font-size: larger;
}

.input {
    border-radius: 4px;
    margin-top: 2%;
    margin-left: 3%;
    text-indent: 5%;
    width: 50%;
    height: 35px;
}

#tip,#modifyTip{
    color: red;
}

table tr{
    border-bottom: solid 1px white;
    color: white;
}
#ModifyModal{
    color: black;
}