#NavImg{
   margin-left: 15%;
}
#NavName{
    font-size: xx-large;
    color: white;
    margin-left: 40%;
}
span{
    font-size: larger;
}
.input{
    border-radius: 4px;
    margin-top: 2%;
    margin-left: 3%;
    text-indent: 5%;
    width: 50%;
    height: 35px;
}
#tip{
    color:red;
}
